{% extends 'base.html.twig' %}

{% block title %}Accueil | CESIZen{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
<main class="page-shell">
    {% include 'partials/_topbar.html.twig' with { active_route: 'app_home' } %}

    {% include 'partials/_home_hero.html.twig' %}
    {% include 'partials/_home_features.html.twig' %}
    {% include 'partials/_home_resources.html.twig' %}
    {% include 'partials/_home_cta.html.twig' %}
</main>
{% endblock %}
