{% extends 'base.html.twig' %}

{% block title %}Suivi personnel | CESIZen{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tracking.css') }}">
{% endblock %}

{% block body %}
<main class="page-shell">
    {% include 'partials/_topbar.html.twig' with { active_route: 'app_personal_tracking' } %}

    {% include 'partials/_tracking_kpi.html.twig' %}
    {% include 'partials/_tracking_charts_badges.html.twig' %}
    <div class="content-grid">
        {% include 'partials/_tracking_goal.html.twig' %}
        {% include 'partials/_tracking_history.html.twig' %}
    </div>
</main>
{% endblock %}
